@use '../../assets/scss' as *;

.list {
  &__container {
    color: $white;
    padding: 20px 60px;
  }

  &__number {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 20px;

    .genre {
      color: $red-1;
      text-transform: capitalize;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 60px;
  }

  &__state {
    color: $white;
    font-size: 18px;
    line-height: 24px;
    min-height: 240px;
    opacity: 0.8;
    padding: 40px 0;
  }

  &__container--error,
  &__container--loading {
    min-height: 280px;
  }

  &__container--error {
    h2 {
      font-size: 24px;
      line-height: 30px;
      padding-bottom: 8px;
    }

    p {
      padding-bottom: 20px;
    }
  }

  @include media-size(lg-down) {
    &__container {
      padding: 1rem;
    }

    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px 10px;
    }
  }

  @include media-size(md-down) {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
