@use 'assets/scss' as *;
@use 'scss-reset/reset';

html,
body {
  height: 100%;
}

body {
  background: $grey-3;
  color: $white;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

button,
input,
textarea,
select {
  font: inherit;
}

a,
button,
input,
textarea,
[role='button'] {
  &:focus-visible {
    outline: 2px solid $red-1;
    outline-offset: 3px;
  }
}

img {
  display: block;
  max-width: 100%;
}
