@use '../../../assets/scss/index' as *;

.custom-select {
  box-sizing: border-box;

  &__header {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: block;
    position: relative;
    text-align: left;

    &:after {
      background-color: $red-1;
      content: '';
      mask-image: url('../../../assets/img/down.svg');
      mask-position: center;
      mask-repeat: no-repeat;
      position: absolute;
      width: 20px;
      height: 20px;
      display: block;
      transition: none;
    }
  }

  &__wrapper {
    position: relative;

    &--open {
      z-index: 2;
    }
  }

  &__container {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    transition: none;
  }

  &__item {
    background: transparent;
    border: 0;
    color: inherit;
    display: block;
    font: inherit;
    list-style: none;
    cursor: pointer;
    text-align: left;
    width: 100%;
  }
}
